<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" defer></script>
<script src="../allObstacles.js" defer></script>
<script src="utils.js" defer></script>
<script src="app.js" defer></script>
<link rel="stylesheet" type="text/css" href="styles.css">
<div id="root">
  <div
    class="editor"
  >
    <div class="top-bar">
      <button @click="showMapTools = !showMapTools">Map tools</button>
      <button @click="showEntityTools = !showEntityTools">Entity tools</button>
    </div>
    <div
      class="map"
      @click="selectedEntity = null"
    >
      <div
        class="map__field"
        :style="{
          width: (mapSize[0] * cellSize) + 'px',
          height: (mapSize[1] * cellSize) + 'px',
        }"
        @click="handleMapFieldClick"
      >
        <div
          class="map__entity"
          v-for="entity in entities"
          :style="{
            left: (entity.position[0] * cellSize) + 'px',
            top: (entity.position[1] * cellSize) + 'px',
            width: cellSize + 'px',
            height: cellSize + 'px',
            border: selectedEntity === entity ? '2px solid red' : 'none',
          }"
          @click.stop="handleEntityClick(entity)"
        >{{entity.type}}</div>
      </div>
    </div>
    <div class="map-tools" v-if="showMapTools">
      <div class="map-tools__entity-types">
        <div
          class="map-tools__entity-type-option"
          v-for="type in entityTypes"
          :style="{
            backgroundColor: selectedEntityType === type ? 'lightgrey' : 'white'
          }"
          @click="selectedEntityType = type"
        >{{type}}</div>
      </div>
      <h4>Map size:</h4>
      <input type="number" v-model="mapSize[0]"/>
      <input type="number" v-model="mapSize[1]"/>
      <h4>Init script</h4>
      <textarea v-model="initScript" class="code-editor"></textarea>
      <h4>Map story</h4>
      <textarea v-model="mapStory" class="text-editor"></textarea>
    </div>
    <div class="entity-tools" v-if="selectedEntity">
      <h4>Type:</h4>
      <select @input="selectedEntity.type = event.target.value" v-model="selectedEntity.type">
        <option v-for="type in entityTypes" :value="type">{{type}}</option>
      </select>
      <h4>x & y coords:</h4>
      <input type="number" v-model="selectedEntity.position[0]"/>
      <input type="number" v-model="selectedEntity.position[1]"/>
      <h4>Collision script</h4>
      <textarea v-model="selectedEntity.collisionScript" class="code-editor"></textarea>
      <h4 v-if="selectedEntity.type === WIND">Direction</h4>
      <select v-if="selectedEntity.type === WIND" @input="selectedEntity.direction = event.target.value" v-model="selectedEntity.direction">
        <option v-for="direction in gridDirections" :value="direction">{{direction}}</option>
      </select>
    </div>
  </div>
</div>
