<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" defer></script>
<script src="../types.js" defer></script>
<script src="app.js" defer></script>
<link rel="stylesheet" type="text/css" href="editor-styles.css">
<div id="root">
  <div
    class="editor"
  >
    <div class="top-bar">
      <button @click="showMapTools = !showMapTools">Map tools</button>
      <button @click="newLevel">New level</button>
      <div class="edit-file-name">
        <input v-model="fileName" />
        <button @click="saveLevel">Save</button>
      </div>
      <button @click="showEntityTools = !showEntityTools">Entity tools</button>
    </div>
    <div
      class="map"
      @click="selectedEntity = null"
    >
      <div
        class="map__field"
        :style="{
          width: (mapSize[0] * cellSize) + 'px',
          height: (mapSize[1] * cellSize) + 'px',
        }"
        @click="handleMapFieldClick"
      >
        <div
          class="map__entity"
          v-for="entity in entities"
          :style="{
            left: (entity.position[0] * cellSize) + 'px',
            top: (entity.position[1] * cellSize) + 'px',
            width: cellSize + 'px',
            height: cellSize + 'px',
            border: selectedEntity === entity ? '2px solid red' : 'none',
          }"
          @click.stop="handleEntityClick(entity)"
        >{{entity.type}}</div>
      </div>
    </div>

    <div class="map-tools" v-if="showMapTools">
      <h4>Levels</h4>
      <div class="levels">
        <div v-for="fileName in levels" class="levels__file-name" @click="loadLevel(fileName)">{{fileName}}</div>
      </div>
      <h4>Entity type</h4>
      <div class="map-tools__entity-types">
        <div
          class="map-tools__entity-type-option"
          v-for="type in entityTypes"
          :style="{
            backgroundColor: selectedEntityType === type ? 'lightgrey' : 'white'
          }"
          @click="selectedEntityType = type"
        >{{type}}</div>
      </div>
      <h4>Map size</h4>
      <input type="number" v-model="mapSize[0]"/>
      <input type="number" v-model="mapSize[1]"/>
      <h4>Map init script</h4>
      <textarea v-model="initScript" class="code-editor"></textarea>
      <h4>Map story</h4>
      <textarea v-model="mapStory" class="text-editor"></textarea>
      <h4>Import/Export</h4>
      <textarea v-model="encodedMapData" @input="parseImportedMapData" class="code-editor"></textarea>
    </div>

    <div class="entity-tools" v-if="selectedEntity">
      <h4>Type:</h4>
      <select @input="setSelectedEntityType(event.target.value)" v-model="selectedEntity.type">
        <option v-for="type in entityTypes" :value="type">{{type}}</option>
      </select>
      <div v-for="prop in entitySchemas[selectedEntity.type]">
        <h4>{{prop.name}}</h4>
        <select v-if="prop.type === DIRECTION" @input="selectedEntity[prop.name] = event.target.value" v-model="selectedEntity[prop.name]">
          <option v-for="direction in directions" :value="direction">{{direction}}</option>
        </select>
        <textarea v-if="prop.type === SCRIPT" v-model="selectedEntity[prop.name]" class="code-editor"></textarea>
        <textarea v-if="prop.type === DIALOG" v-model="selectedEntity[prop.name]" class="text-editor"></textarea>
        <textarea v-if="prop.type === TEXT" v-model="selectedEntity[prop.name]" class="text-editor"></textarea>
        <input v-if="prop.type === STRING" v-model="selectedEntity[prop.name]" class="string-editor"/>
        <input v-if="prop.type === NUMBER" v-model="selectedEntity[prop.name]" class="string-editor" type="number"/>
        <input v-if="prop.type === BOOLEAN" v-model="selectedEntity[prop.name]" type="checkbox" />
        <div v-if="prop.type === VECTOR" class="vector-editor">
          <input type="number" v-model="selectedEntity[prop.name][0]"/>
          <input type="number" v-model="selectedEntity[prop.name][1]"/>
        </div>

      </div>
    </div>
  </div>
</div>
