body {
  margin: 0;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100vh;
  background-color: #eee;
}

h4, h3 {
  margin: 0;
}

textarea {
  height: 150px;
}

.game {
  background-color: #444;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools {
  display: grid;
  grid-gap: 24px;
  background-color: #aaa;
  padding: 8px;
  overflow: scroll;
}

#game-field {
  position: relative;
  background-color: green;
  width: 320px;
  height: 320px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Color_icon_green.svg/2000px-Color_icon_green.svg.png');
  background-size: 32px 32px;
}

.character-tools__options {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 40px);
}

.character-tools__options label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 4px;
  margin-top: 4px;
  background-color: lightgrey;
}

input:checked + label {
  background-color: pink;
}

.map-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map-tools__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-tools__links div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width 50%;
}

.map-tools__links input {
  width: 30px;
  margin: 0 50px;
  text-align: center;
}

.map-tools__links section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.export-tools, .story-tools {
  display: flex;
  flex-direction: column;
}

.obstacle {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  box-sizing: border-box;
  background-color: grey;
  width: 32px;
  height: 32px;
  font-size: 8px;
}

.obstacle__level-link {
  width: 80%;
  font-size: 8px;
  text-align: center;
}

.wall {
  background-color: grey;
}

.tree {
  background-color: brown;
}

.flower {
  background-color: orange;
}

.orc {
  background-color: red;
}

.princess {
  background-color: pink;
}

.hero {
  background-color: lightblue;
}

.wind {
  background-color: white;
}

.wind-direction {
  width: 100%;
  font-size: 8px;
  text-align: center;
}
